section {
    width:500px;
    height:500px;
    background-color:magenta;
}

#rgba {
    width:50%;
    height:50%;
    background-color: rgba(255,255,255,0.7)
}

#opacity{
    width:50%;
    height:50%;
    background-color: yellow; /*last 2 digits of a color are opacity*/
    opacity:0.3; /*color comes through into black text*/

}